@model Feature
<div class="container">
    <div class="row">
        <div class="col-12">
            <form asp-action="Update" method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Icon</label>
                    <input type="text" asp-for="Icon" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Title</label>
                    <input type="text" asp-for="Title" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Description</label>
                    <textarea rows="5" asp-for="Description" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>