@model Electronic
<div class="container">
    <div class="row">
        <div class="col-4">
            <form asp-action="DeletePost" method="post" class="card" style="width: 18rem;">
                <img src="~/uploads/electronics/@Model.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">@Model.Price</p>
                    <input hidden asp-for="@Model.Id" value="@Model.Id" />
                    <a asp-action="Index" class="btn btn-primary">Go Back</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>