<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>Our <span class="blue whitebg">blogs</span></h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore<br> magna aliqua. Ut enim ad minim veniam,
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="blog-box">
                    <figure>
                        <img src="~/images/blog1.jpg" alt="#" />
                        <div class="date">
                            <h3>07-01-2020</h3>
                        </div>
                    </figure>
                    <div class="blog_text">
                        <h3>Blog Title Here</h3>
                        <div class="comment">
                            <a href="Javascript:void(0)"><i class="fa fa-heart-o" aria-hidden="true"></i> Like</a>
                            <a href="Javascript:void(0)"><i class="fa fa-comment-o" aria-hidden="true"></i> comment</a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog-box">
                    <figure>
                        <img src="~/images/blog2.jpg" alt="#" />
                        <div class="date">
                            <h3>07-01-2020</h3>
                        </div>
                    </figure>
                    <div class="blog_text">
                        <h3>Blog Title Here</h3>
                        <div class="comment">
                            <a href="Javascript:void(0)"><i class="fa fa-heart-o" aria-hidden="true"></i> Like</a>
                            <a href="Javascript:void(0)"><i class="fa fa-comment-o" aria-hidden="true"></i> comment</a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>