@using ProniaBB207.Core.Models
@model Category

<div class="container">

    <form method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" style="color:red"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>